@import "tailwindcss";

* {
    font-family: sans-serif, serif;
    /* overflow-x: hidden; */
    /* overflow-y: hidden; */
    
}

body::-webkit-scrollbar {
        display: none;
}

#carScroll::-webkit-scrollbar{
    display: none;
}

/* body {
    background-color: #111;
    color: #fff;
} */